{% extends "JuniorSiteinterneBundle::layout.html.twig" %}

{% block title %}
 {{u.firstName}} {{u.lastName}} - {{parent() }}
{% endblock %}
{% block feuilleStyleAlternative %}
		<link rel="stylesheet" href="{{asset('css/Siteinterne/css/carouseladditionnel.css')}}">
{% endblock %}

{% block titrePage %}
{{u.firstName}} {{u.lastName}}
{% endblock %}


{% block body %}
			<section class="row">
				<div id="content" class="col-md-offset-1 col-md-10">
								
								{{ form_start(form3) }}

								{{ form_errors(form3) }}

								<div class="form-group">
									{{ form_label(form3.phone, "Numéro de téléphone", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}

									{{ form_errors(form3.phone) }}

									<div class="col-sm-6">
										{{ form_widget(form3.phone, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
								{{ form_widget(form3.save, {'attr': {'class': 'btn btn-default'}}) }}


								{{ form_rest(form3) }}

				  
								{{ form_end(form3) }}
					</div>
			</section>
{% endblock %}